<h1>規約承諾</h1>
<p>本規約書に同意する場合は、「yes」を入力して承諾ボタンを押してください</p>
<%= form_with(model: @acceptance, local: true) do |form| %>
    <% if @acceptance.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@acceptance.errors.count, "error") %>prohibited this acceptance from being saved:</h2>
            <ul>
            <% @acceptance.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :accepting %>
        <%= form.text_field :accepting, id: :acceptance_accepting %>
    </div>

    <div class="actions">
        <%= form.submit "承諾" %>
    </div>
<% end %>
    